.black{
    background-color:  black;
    color: whitesmoke; 
    z-index: 38; 
    margin-bottom: 0px;
    }

.poster_column {
    max-height: 100%;
    }

.movie_poster{
    width: 100%;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    object-position: 5% 0;
  }

  .bloc-actuality{
    height: 100vh;
  }

  .title{
  padding-top: 15%;
  font-size: 3.3em;
  text-transform: uppercase;
 
}


.year{
    font-size: 1.3em;
    
}

.synopsis{
    font-size: 1.2em;
    margin-right: 5rem !important;
    
}

hr {
    margin-left: 2.1rem !important;
    margin-right: 9rem !important;
    background-color: #5FD4F4 !important;
    
}
.readMore{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 90%;
    height: 26px;
    text-align: top;  
}

.favoritesRating{
    justify-content: space-between;
    margin-right: 8rem !important;
}

.no-clicked-icon{
    color: #63676b;
    opacity: 0.3;
}



@media screen and (min-width: 768px) {
.container-overlay {
    background-image:-webkit-linear-gradient(0deg, rgb(0, 0, 0, 0)20%, rgb(0, 0, 0, 1)45%)!important; 
    z-index:19 !important;
    position:absolute !important;
    height:100%;
    width: 100%;
    }
}


@media screen and (max-width: 768px) {
   .black{
margin-bottom: 90px;
   }
        .title {
            margin-top: -100px;
          padding-bottom: 2% !important;
            padding-top: 0;
            font-size: 1em;
            text-transform: uppercase;
        }
       
          .container-overlay-mobile {
            background-image:-webkit-linear-gradient(-90deg, rgb(0, 0, 0, 0)20%, rgb(0, 0, 0, 1)85%)!important; 
            z-index:19 !important;
            position:absolute !important;
            height: 100%;
            width: 100%;
            }
        
       
     
    }