.black{
    background-color:  black;
    color: whitesmoke; 
    z-index: 38; 
    height: 30vh;
    margin-bottom: 0px;
    }

    .container-overlay {
        background-image:-webkit-linear-gradient(0deg, rgb(0, 0, 0, 0)20%, rgb(0, 0, 0, 1)50%)!important; 
        z-index:19 !important;
        position:absolute !important;
        height:100%;
        width: 180vh;
        
    }

    .movie_poster{
        width: 100%;
        max-height: 100vh;
        position: absolute;
        overflow: hidden;
        object-fit: cover;
        object-position: 5% 0;
      }

      .title{
        padding-top: 25%;
        font-size: 1.8em;
        text-transform: uppercase;
       
    }

    .readMore{
        background-color: black;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 90%;
        height: 26px;
        text-align: top;
        
    }
    