@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
    background: #2e302c !important;
}
  
.container ul li{
    display: inline;
    padding:0px 10px 0 0;
    color: white;
    position: relative;
    left: -40px;
}

img {
      
      border-radius:10px 0 0 10px;

      
    }

.container h3{
    color: white;
    font-family: Montserrat;
    
}

.container i{
    color: #f2db0e;
}

.container .heart i{
    color: #962813;
}

.row{
    margin-top: 10px;
    
}


@media screen and (max-width:520px){
  .container h3{
    font-size: 15px;
  }
  
    
}

