h1 {
    display: inline;
}

/* font-family: 'Open Sans', sans-serif; */

.logo-cine {
    font-family: 'Roboto Condensed', sans-serif;
    color: #F1F1F1;

}

.logo-react {
    font-family: 'Roboto Condensed', sans-serif;
    color: #5FD4F4;

}


.navbar {
    height: 60px;
    background-color:  #121314;
}

.nav-link:hover {
    color: #5FD4F4 !important;
    cursor: pointer;
}

.nav-link {
    color:  #F1F1F1 !important;
    display: flex !important;
    align-items: center;
    
}

.navbar-nav {
    flex-direction: row !important;
}

.icon {
    color: #5FD4F4 !important;
    
}

.navbar-toggler {
    color: #5FD4F4 !important;
    border-color: transparent !important;

}

Link { 
    text-decoration: none ;
}

.btn, .btn-link {
    color: #5FD4F4 !important;
   
}

.search {
    padding-left: 30px !important;
}

.navbar-collapse {
    justify-content: space-between;
}

.modal-contact {
    background-color: rgb(18, 19, 20) !important; 
    color :#5FD4F4;
    border : none !important;
    border-radius: 0 !important;

}

@media screen and (min-width: 768px){
    .menu-bottom {
        display: none !important;
    }

   

}

@media screen and (min-width: 576px)and (max-width: 1024px){
    .text-nav{
        display: none;
    }
  

}

@media screen and (min-width: 320px)and (max-width: 1024px){
    .text-nav{
        display: none;
    }

}


.icon-bottom {
    display: flex !important;
}

.menu-bottom {
    justify-content: space-between !important;
}



