.btn, .btn-link, .bg-black {
    color: #5FD4F4 !important;
   
}

.btn-dark {
	background-color: #121314 !important;
	border-color: #525559 !important;
	margin-left: 3rem !important;
	
}

.btn-dark:hover {
	background-color: #23272b !important;


}

@media screen and (min-width: 320px)and (max-width: 576px){
    .btn-dark{
        margin-left: 0 !important;
    }

}

.input-group > .form-control{
	flex: 0.5 1 auto !important;
}

.btn {
	border-radius: 4px 0 0 4px !important;
}

.search {
    padding-left: 30px !important;
}



.searchBox {
	display: flex;
	width: 90% !important;
}

.form-control {
	background-color: #121314 !important;
	border: 1px solid #525559 !important;
	color: #5FD4F4 !important;
	border-left: 0px !important;
}

.btn-outline-secondary{
	border-color:  #525559 !important;
	border-radius: 0 4px 4px 0 !important;
	
}

.btn-outline-secondary:hover{
	background-color: #23272b !important;
}


.bd-black {
	opacity: 1 !important;
}

.bg-black {
	background-color: #121314;
	border: none !important;
}


.dropdown-menu {
	background-color: #121314 !important;
	
}

.dropdown-item {
	color: #5FD4F4 !important;
}

.dropdown-item:hover {
	background-color: #23272b !important;
}


/*
.searchBox {
    display: flex;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) #ededed no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 50px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color:  #5FD4F4;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


#demo-2 input[type=search] {
	width: 30px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

*/
